apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: confluence-to-markdown

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/name: confluence-to-markdown
  app.kubernetes.io/version: "1.0.0"
  app.kubernetes.io/managed-by: kustomize

images:
  - name: ghcr.io/yzeng1314/confluence-to-markdown
    newTag: latest
